* {
  padding: 5px;
  text-decoration: none;
}

/* typography */
h1, h3, button, li {
  font-family: 'Inconsolata', monospace;
}
h2 {
  font-family: 'Elsie', cursive;
}


body {
  font-family: 'Francois One', sans-serif;
  text-decoration: none;
}

/* navigation */
Header {
  margin: 0px auto;
}
#nav-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1080px;
  margin: 0px auto;
}
.nav-child {
}

/* review body */
.review-frame-shape {
  display: flex;
  margin: 0px auto;
  font-size: 40px;
  justify-content: center;
  text-decoration: none;

}
.review-frame-container {
  width: 1080px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;

}
.review-frame-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book-data {
   display: flex;
 }

.jacket {
    height: 350px;
 }

.review-display {
   font-family: 'mono'
 }
